
.button{
  border-color:#ae935e;
  color: #ae935e;
}

.button-style{
  margin:auto;
  margin-top: 30px;
  margin-botton:30px;
  display:block;
}
.button-style:hover{
  background-color:#ae935e;
  color: white;
  border-color: transparent;
  transform:scale(1.07);
}


.btn-primary:hover{
  transform:scale(1.07);
  background-color:#ae935e;
}

.navbar-light .navbar-nav .nav-link:hover{
color:#ae935e;
}

.circle{
  width:250px;
  height:250px; 
  border-radius:50%; 
  border:1px solid transparent;
  background-color:#e5d7c2; 
  margin:0 auto;
  margin-top:100px;
  margin-bottom:200px;
}


.carousel-inner{
  width:100%;
  height:790px;
}

.carousel-item{
  width:100%;
  height:100%;
  position: absolute;
}

.d-block{
  display: block;
  width:100%;
  height:100%;
}
.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.h5{
  text-align:center;
}

.p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.card{
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border-color: transparent
  border-radius: 0.25rem;
}

.icon-box{
width: 40px;
height: 40px;
background-color:#d9b57f;
border-radius: 15px;
display: inline-flex;
align-items:center;
justify-content: center;
margin-top:15px;
margin-right:15px;
color: white;

.icon-box:hover{
  transform: scale(1,7);
}

.footer-first-line {
display: flex;
justify-content: space-around;
}


.footer-first-line-1{
  display:flex;
  color: white;
 align-items: flex-end
}

.logo{
  color:#fff;
  font-size:12px;
}

